.addproductpage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120vh;
    overflow: hidden;
    align-content: center;
    background-color: var(--primary);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2rem;
}
.addproductpage form{
    border-radius: 12px;
    padding: 2rem 4rem;
    background-color: var(--bg);
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    animation: form 1.5s ease-in-out;
}
@keyframes form {
    from{
        transform: translateX(30rem);
    }to{
        transform: translateX(0);
    }
}
.addproductpage form h1{
    font-weight: bold;
    font-size: 3rem;
    color: var(--text);
    align-self: center;
    justify-self: center;
}
.addproductpage p{
    color: gray;
}
.addproductpage form .imagediv{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    width: 260px;
}
.addproductpage form .imagediv img{
    border-radius: 12px;
    width: 200px;
    height: 150px;
    margin-bottom: 1rem;
}
#title{
    padding: .4rem;
    width: 16rem;
    font-size: 1rem;
}
#desc{
    padding: .9rem;
    width: 15rem;
    font-size: 1.05rem;
}
#check{
    accent-color: var(--primary);
    cursor: pointer;
}
#price{
    width: 3.5rem;
    text-align: center;
}
#quantity{
    width: 3.5rem;
    text-align: center;

}
.addproductpage form button{
    background-color: var(--primary);
    color: aliceblue;
    padding: .7rem;
    border: none;
    border-radius: 6px;
    bottom: 0;
    cursor: pointer;
    transition: all .4s ease-in-out;
}
.addproductpage form button:hover{
    background-color: var(--btns);
}
@media (max-width: 480px) {
  .addproductpage form{
    padding: 2rem 1rem;
    padding-bottom: 1rem;

}
  .addproductpage form h1{
    font-size: 2rem;
}
}