:root{
  --bg: #F4F1EC;
  --cards: #E4DED2;
  --primary: #3E4A3D;
  --btns: #C97A54;
  --text: #2B2925;
}
body {
  margin: 0;
}
input:focus{
    outline: none;
}
button:disabled{
  background-color: grey;
}
.errdiv{
    background-color: rgb(255, 183, 183);
    color: rgb(255, 0, 0);
    font-size: large;
    border-radius: 6px;
    margin: 1rem;
}
.successdiv{
    background-color: rgb(200, 255, 183);
    color: green;
    font-size: large;
    border-radius: 6px;
    margin: 1rem;
}
